<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>880270250680-r9hfbb7e6lh89rfdsg56dlgf1pb5ni1h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.880270250680-r9hfbb7e6lh89rfdsg56dlgf1pb5ni1h</string>
	<key>API_KEY</key>
	<string>AIzaSyAfTg_VQvn2cVSpb2XCu49fsMtLFoL_9KA</string>
	<key>GCM_SENDER_ID</key>
	<string>880270250680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.beginApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-cd10c</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-cd10c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880270250680:ios:1d12d7fed08534e7415a4d</string>
</dict>
</plist>